

<div>
  <pre>
    <div> <span class="headerKey"> Process Name: </span> <span class="headeValue"> {{currSelProcess.name}}</span></div>
    <div> <span class="headerKey"> Status      : </span> <span class="headeValue"> {{currSelProcess.status}}</span></div>
    <div> <span class="headerKey"> StartDate   : </span> <span class="headeValue"> {{currSelProcess.startDate}}</span></div>
    <div> <span class="headerKey"> State       : </span> <span class="headeValue"> {{currSelProcess.state}}</span></div>
    <div> <span class="headerKey"> EndDate     : </span> <span class="headeValue"> {{currSelProcess.endDate}}</span></div>
    <div> <span class="headerKey"> StartedBy   : </span> <span class="headeValue"> {{currSelProcess.startedBy}}</span></div>
    <div> <span class="headerKey"> Cost        : </span> <span class="headeValue"> {{currSelProcess.cost}}</span></div>
  </pre>
</div>
